.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

/*text colors*/

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: var(--secondary);
}

.text-tertiary {
    color: var(--tertiary);
}

.text-success {
    color: var(--success);
}

.text-warning {
    color: var(--warning);
}

.text-grey {
    color: var(--grey);
}

.text-dark {
    color: var(--dark);
}

.text-light {
    color: var(--light);
}

.text-bold {
    font-weight: bold;
}
